.centerWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-text: center;
}

.centerRow {
  display: flex;
  flex-direction: centerRow;
  align-items: center;
  justify-content: center;
}

.backgroundPulse {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}